#searchBar {
    border: 0px solid #000;
    width: 500px;
    margin: 30px;
    padding: 20px;
}

#submit, #search {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

#result, #new-search {
    border: 0px solid #000;
    width: 600px;
    margin: 30px;
    padding: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}